@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes indeterminate {
    0% {
      transform: translateX(-100%) scaleX(0.5);
    }

    50% {
      transform: translateX(0%) scaleX(0.7);
    }

    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}